body{
    background-color:rgb(29, 20, 73);
}

.list-item{
  list-style: none;
  margin-top: 50px;
 
  
}
.list-item li{
    display: flex;
    display: inline-block;
    margin-left: 10px;
    
}
.list-item a{
  text-decoration: none;
  background-color: rgb(76, 76, 172);
  color: white;
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
  text-align: center;
  border-radius: 5%;
  cursor: pointer;
}
.list-item a:hover{
    background-color: rgb(69, 142, 172);
    color: tomato;
    
}